@page "/"
@using JobBoardSample.Shared.Components
@using JobBoardSample.Shared
@using Microsoft.VisualBasic
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<div class="main-container">
    <div class="top-bar">
        <input type="text" placeholder="Cerca annuncio..." class="search-box" @bind="searchText">

        <select class="filters-selected" @bind="selectedLocality">
            <option value="">Località</option>
            @foreach (var loc in Localities.All)
            {
                <option value="@loc">@loc</option>
            }
        </select>

        <select class="filters-selected" @bind="selectedDepartment">
            <option value="">Reparto</option>
            @foreach (var dep in Departments.All)
            {
                <option value="@dep">@dep</option>
            }
        </select>
    </div>
    <div class="cards-container">

        @if(ListPosition == null)
        {
            <p>Caricamento posizioni...</p>
        }
        else
        {
            @foreach (var pos in ListPosition)
            {
                <PositionCard position="pos" OnClick="HandleCardClick" />
            }
        }
    </div>

    @if (selectedPosition is not null)
    {
        <div class="overlay">
            <div class="overlay-content">
                <h3>@selectedPosition.Title</h3>
                <p><strong>Dipartimento:</strong> @selectedPosition.Department</p>
                <p><strong>Località:</strong> @selectedPosition.Location</p>
                <button @onclick="() => selectedPosition = null">Chiudi</button>
            </div>
        </div>
    }
</div>



@code {

    private string? selectedDepartment = "";
    private string? selectedLocality = "";
    private string searchText = "";

    private bool showOverlay = false;
    private Position? selectedPosition;

    private List<Position>? ListPosition;

    private void HandleCardClick(Position pos)
    {
        selectedPosition = pos;
    }

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<PositionsResponse>("https://localhost:7290/api/positions");
        ListPosition = response?.Items ?? new List<Position>();
    }

}